<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
	<h1>StaticPages#home</h1>
	<p>
	  This is the home page for
	  <a href="http://KevinFallon.me/">Kevin Fallon's</a>
	  sample application.
	</p>
  </body>
</html>